<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="bootstrap.min.css">
  </head>
  <body class="d-flex flex-column justify-content-center align-items-center min-vh-100 gap-5">
    <h1>Gestor usuarios</h1>
    <div class="container border border-3 p-3 rounded-3">
      <div class="row">
        <div class="col-lg-6 table-responsive">
          <h2>Listado</h2>
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Posicion</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <% for( let index = 0; index < users.length; index++ ) { %>             
              <tr>
                <td><%= index %></td>
                <td><%= users[index].name %></td>
                <td><%= users[index].email %></td>
                <td><a href="#" class="btn btn-danger btn-sm">Borrar</a></td>
              </tr>             
              <% } %>
            </tbody>
          </table> 
        </div>
        <form class="col-lg-6" method="post">
          <h2>Nuevo</h2>
          <div class="mb-2">
            <input class="form-control" type="text" name="nombre" placeholder="nombre">
          </div>
          <div class="mb-2">
            <input class="form-control" type="email" name="email" placeholder="email">
          </div>
          <button class="btn btn-primary">Añadir</button>
        </form>
      </div>
    </div>
    <script src="bootstrap.bundle.min.js"></script>
  </body> 
</html>
