<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="/css/dataTables.dataTables.css" />
 

  </head>
  <body class="d-flex flex-column justify-content-center align-items-center min-vh-100 gap-5">
    <%- include('home.ejs') %>
    <script src="bootstrap.bundle.min.js"></script>
    <script src="/jquery.js"></script>
    <script src="/js/dataTables.js"></script>
    <script src="/javascripts/front.js"></script>
  </body> 
</html>
